Flask==3.0.2
python-dotenv==1.0.1
psycopg2-binary==2.9.9
gunicorn==21.2.0
Werkzeug==3.0.1
APScheduler==3.10.4
Flask-Compress==1.15
whitenoise==6.6.0
Pillow==10.2.0
flask-talisman==1.1.0
flask-limiter==3.5.0
bleach==6.1.0
flask-wtf==1.2.1
cryptography==42.0.5
